body {
	background-color: #fff
}

.center {
	position: relative;
	margin: auto;
	width: 50%;
	top: 40%;
	transform: translateY(-50%);
}

a {
	color: #000;
	text-decoration: underline;
}

a:visited {
	color: #000;
}

a:hover {
	text-decoration: underline;
}

.name {
	margin-bottom: 5%;
	font-family: "Times New Roman";
	font-size: 60px;
	font-color: #000;
	font-weight: bold;
	text-align: center;
	line-height: 40%;
}

p.aboutme {
	font-family: "Raleway";
	font-size: 16px;
	font-color: #000;
	text-align: center;
	letter-spacing: 1px;
	line-height: 130%;
}

#iconify {
	position: relative;
}

#iconify li {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 0;
}

#iconify li, #iconify a {
	height: 32px;
	display: block;
}

#blog {
	left: -32px;
	width: 32px;
	background: url('icons/rss.png') 0 0;
}

#twitter {
	left: 13.7%;
	width: 32px;
	background: url('icons/twitter.png') -13.7% 0;
}

#contact {
	left: 27.3%;
	width: 32px;
	background: url('icons/email.png') -27.3% 0;	
}

#linkedin {
	left: 41%;
	width: 32px;
	background: url('icons/linkedin.png') -41.0% 0;
}

#google-plus {
	left: 54.6%;
	width: 32px;
	background: url('icons/google-plus.png') -54.6% 0;
}

#github {
	left: 68.3%;
	width: 32px;
	background: url('icons/github.png') -68.3% 0;
}

#datanouveau {
	left: 81.9%;
	width: 32px;
	background: url('icons/tumblr.png') -81.9% 0;
}

#flickr {
	left: 95.6%;
	width: 32px;
	background: url('icons/flickr.png') -95.6% 0;
}

#picasa {
	left: 95.6%;
	width: 32px;
	background: url('icons/picasa.png') -95.6% 0;
}
